.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.card-img {
  /* width: 250px; */
}

.card-img img {
  height: 250px;
  width: 200px;
  object-fit: contain;
}

.card-name {
  text-align: center;
  color: cornflowerblue;
  padding: 5px;
}
.card-price {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.card-detail {
  display: flex;
  gap: 5rem;
  padding: 5px;
}

.card-detail p {
  color: #aaa;
}
.card-detail span {
  color: #2f9e44;
}
